.main-char-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: auto;
    padding-top: 1em;
    margin-left: 25em;
}

.choose-chart-text {
    font-family: 'Montserrat', sans-serif;
    color: white;
    opacity: 0.9;
    margin-top: 3em;
}
.chart-dropdown{
    font-family: 'Montserrat', sans-serif;
}

.no-task-text-analyze{
    padding-top: 3em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    opacity: 0.8;
}

.fade-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
  