.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
    padding: 20px;
    border-radius: 20px;
  }
  
  .card {
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
  }
  
  .calendar-card {
    width: 70em;
    height: auto;
    padding: 30px;
  }
  
  p {
    font-size: 1.2em;
  }
  
  .custom-tooltip {
    font-size: 1rem !important;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  
  .css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root,
  .css-qct7wd-MuiButtonBase-root-MuiPickersDay-root {
    color: white !important;
    font-size: 1.5em !important;
  }
  
  .css-qct7wd-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    background: #685daa !important;
  }
  
  .css-17nrfho-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
  .css-z4ns9w-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
  .css-14yom7c-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
    color: white !important;
    font-size: 2em !important;
  }
  
  .css-17f9e7e-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    color: white !important;
    font-size: 1.5em !important;
    opacity: 0.8;
  }
  
  .css-1pv2de5-MuiDayCalendar-weekContainer {
    margin-top: 0.7em !important;
    gap: 6em;
  }
  
  .MuiPickersSlideTransition-root.MuiDayCalendar-slideTransition {
    height: 30em !important;
  }
  
  .MuiDateCalendar-root {
    min-height: 40em !important;
    background-color: #3c3c3c;
    border-radius: 20px;
  }
  