.calendar-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 90vh !important;
    color: white !important;
    padding: 20px !important;
    border-radius: 20px !important;
    margin-left: 11em;
}

.card {
    background-color: transparent !important;
    border-radius: 20px !important;
    padding: 20px !important;

}

.calendar-card {
    width: 70em !important;
    /* Povećana širina */
    height: auto !important;
    /* Automatska visina */
    padding: 30px !important;
    /* Veći unutarnji razmak */
}


p {
    font-size: 1.2em;

}

.calendar-card .css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root {
    color: white !important;
    font-size: 1.5em !important;
}

.calendar-card .css-qct7wd-MuiButtonBase-root-MuiPickersDay-root {
    color: white !important;
    font-size: 1.5em !important;
}

.calendar-card .css-qct7wd-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    background: #685daa !important;
    border: 25px solid #685daa;

}

.calendar-card .css-17nrfho-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
    color: white !important;
    font-size: 2em !important;

}

.calendar-card .css-z4ns9w-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
    color: white !important;
    font-size: 2em !important;
}

.calendar-card .css-14yom7c-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
    color: white !important;
    font-size: 2em !important;
}

.calendar-card .css-17f9e7e-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    color: white !important;
    font-size: 1.5em !important;
    opacity: 0.8;
}

.calendar-card .css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root:hover,
.calendar-card .css-qct7wd-MuiButtonBase-root-MuiPickersDay-root:hover {
    background-color: #999 !important;
    color: white !important;
    border-radius: 50% !important;
    cursor: pointer;
}

.calendar-card .css-1chuxo2-MuiPickersCalendarHeader-label {
    font-size: 1.15em !important;
}

.calendar-card .css-5wchs2-MuiDateCalendar-root {
    background-color: blue !important;
    width: 200em !important;
    background-color: #3c3c3c !important;
    border-radius: 20px !important;
    height: 100em !important;
}

.calendar-card .css-1rl1vrc-MuiDayCalendar-header {
    gap: 6em !important;
    margin-top: 4em !important;
}

.calendar-card .css-1pv2de5-MuiDayCalendar-weekContainer {
    gap: 6em !important;
}

.calendar-card .css-5wchs2-MuiDateCalendar-root {
    max-height: 30em !important;
}

.calendar-card .css-1pv2de5-MuiDayCalendar-weekContainer {
    margin-top: 0.7em !important;
}

.custom-tooltip {
    font-size: 1rem !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
}

.calendar-card .MuiDayCalendar-monthContainer {
    display: grid !important;
    grid-template-rows: repeat(6, 1fr) !important;
    grid-auto-rows: 2.5em !important;
    gap: 2.1em !important;
}

.calendar-card .css-4wda5y-MuiDayCalendar-monthContainer {
    width: 66em !important;
    ;
    margin-top: 1em !important;
    ;
}

.calendar-card .MuiPickersSlideTransition-root.MuiDayCalendar-slideTransition.css-1n1xn3x-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
    height: 35em !important;
}

.calendar-card .MuiDateCalendar-root.css-5wchs2-MuiDateCalendar-root {
    min-height: 40em !important;
}

.calendar-card .css-17f9e7e-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif !important;

}

.css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: transparent !important;
}

.modal-content {
    max-width: 30em;
    margin-left: 58em;
    margin-top: 22em;
    height: auto;
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 1.5em; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 1em; 
}


.selected-task-text {
    color: white;
    margin-bottom: 1em;
    margin-left: 1em;
    font-family: 'Montserrat', sans-serif !important;

}

.modal-content-second {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 60em;
    margin-left: 42em;
    margin-top: 22em;
    height: auto;
    background-color: #2c2c2c;
    border-radius: 10px;

}

.task-details-cal-text {
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    opacity: 0.8;
    margin-left: 1em;
    margin-top: 0.7em;

}

.task-details-cal-text-HEADER {
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    opacity: 0.8;
    margin-left: 16em;
    margin-top: 0.7em;
    margin-bottom: 1em;

}

.button-close-cal-cont {
    display: flex;
    justify-content: end;
    align-items: center;
    /* border:1px solid green; */
    width: 59em;
    margin-top: 2em;
    margin-bottom: 0.7em;
}

.hover-element:hover {
    opacity: 0.7;
}

.css-qct7wd-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: transparent !important;
}