.profile-header-text {
    font-size: 1.4em;
    color: white;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;

}

.line {
    height: 0.05em;
    width: 91em;
    background-color: white;
    margin-top: 2em;
    border-radius: 100px;
    opacity: 0.2;
}

.profile-basicInfo-text {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2em;

}

.fullName-settings-cont {
    /* border:1px solid #ccc; */
    margin-top: 2em;

}

.fullname-settings-input {
    width: 25em;
    height: 3em;
    border-radius: 12px !important;
    margin-top: 0.5em;

}

.p-inputtext {
    /* font-size: 1.2em; */
    padding-left: 0.5em;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
}

.update-button {
    background-color: #4874f4;
    width: 10em;
    text-align: center;
    height: 3em;
    align-items: center;
    margin-top: 0.3em;
    font-size: 1em !important;
}

.update-button:hover {
    border: 2px solid #4874f4;
    background-color: transparent;
}

.cont {
    display: flex;
    gap: 3em;
    /* border: 1px solid red; */
    align-items: center;
}

.update-email-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
    text-align: center;
    margin-top: 1em;
}

.popup-input {
    width: 20em;
    height: 3em !important;
    min-height: 2em !important;
    margin-top: 2.5em;
}

.popup-content-email {
    position: relative;
    width: 80%;
    max-width: 600px;
    height: 15em;
    max-height: 80%;
    background-color: #2c2c2c;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popup-content-pass {
    position: relative;
    width: 80%;
    max-width: 600px;
    height: 30em;
    max-height: 80%;
    background-color: #2c2c2c;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.popup-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2em;
    gap: 1em;
    margin-left: 25em;
}

.popup-buttons-pass {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2em;
    gap: 1em;
    margin-left: 23em;

}

.changepass-cont {
    margin-top: 2em;

}

.change-button {
    background-color: #685daa;
    width: 20em;
    height: 3em;
    align-items: center;
    opacity: 0.8;
}

.change-button:hover {
    border: 2px solid #685daa;
    background-color: transparent;

}

.pass-button {
    background-color: red;
    width: 12em;
    height: 3em;
    opacity: 0.8;
    margin-top: 13.5em;
    text-align: center;
    display: flex;
    align-items: center;

}

.pass-button:hover {
    background-color: transparent;
    border: 2px solid red;

}