.main_container {
    /* border: 2px solid red; */
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 120em;
    gap: 3em;
}

.left_main_cont {
    height: 85vh;
    width: 65em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;

}

.right_main_cont {
    border: 0.2px solid rgba(245, 245, 245, 0.2);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    height: 85vh;
    width: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 5em; */
}

.header_text_cont {
    /* border: 1px solid white; */
    margin-top: -5em;
}

.header_text {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 2em;
}

.link_text_cont {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin-top: 1em;
}

.link_text1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    opacity: 0.5;
    font-size: 1.15em;
}

.link_text2 {
    color: #685daa;
    font-family: 'Montserrat', sans-serif;

}

.link_text2:hover {
    opacity: 0.7;
}

.input_cont {
    /* border: 1px solid pink; */
    margin-top: 8em;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}



.button {
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.button:hover{
    border: 2px solid #3B0F75 !important;
    background-color: transparent !important;
}

.custom-toast {
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.custom-toast-warn {
    background-color: #e74c3c; /* Crvena za greške */
    color: white;
}

.custom-toast-success {
    background-color: #27ae60; /* Zelena za uspeh */
    color: white;
}

.custom-toast-info {
    background-color: #3498db; /* Plava za informacije */
    color: white;
}
.custom-toast-success {
    background-color: #27ae60; /* Zelena boja */
    color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
